Repository Calciumdibromid/CaBr2, pull requests merged in 2021-07, with the labels that each got.

#648 added languages above dialog blocks
  src/app/consent/consent.component.html
Labels: kind/translation

#647 fix release build
  src-tauri/Cargo.toml
  src-tauri/src/build.rs
  src-tauri/tauri.conf.json
Labels: kind/build

#543 drag and drop feature to change order of the second sheet
  src/app/modifiable-string-list/modifiable-string-list.component.html
  src/app/modifiable-string-list/modifiable-string-list.component.scss
  src/app/modifiable-string-list/modifiable-string-list.component.ts
  src/app/search/search.component.html
Labels: kind/feature, kind/ui

#651 Rewrite to `async` Rust
  src-tauri/Cargo.lock
  src-tauri/cabr2_config/Cargo.toml
  src-tauri/cabr2_config/src/handler.rs
  src-tauri/cabr2_config/src/plugin.rs
  src-tauri/cabr2_config/src/types.rs
  src-tauri/cabr2_load_save/Cargo.toml
  src-tauri/cabr2_load_save/src/handler.rs
  src-tauri/cabr2_load_save/src/pdf/mod.rs
  src-tauri/cabr2_load_save/src/plugin.rs
  src-tauri/cabr2_logger/Cargo.toml
  src-tauri/cabr2_logger/src/lib.rs
  src-tauri/cabr2_logger/src/plugin.rs
  src-tauri/cabr2_search/Cargo.toml
  src-tauri/cabr2_search/src/gestis/mod.rs
  src-tauri/cabr2_search/src/handler.rs
  src-tauri/cabr2_search/src/plugin.rs
Labels: kind/refactor

#691 Only upload translations on merge, Create a pull on available updates
  .github/workflows/pull-translations.yml
  .github/workflows/push-translations.yml
  .github/workflows/update-translations.yml
  contrib/pull-translations
  contrib/push-translations
Labels: kind/build, kind/translation

#646 Webapp rewrite
  .github/workflows/backend.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/cabr2_config/Cargo.toml
  src-tauri/cabr2_config/src/lib.rs
  src-tauri/cabr2_config/src/webserver.rs
  src-tauri/cabr2_load_save/Cargo.toml
  src-tauri/cabr2_load_save/src/lib.rs
  src-tauri/cabr2_load_save/src/webserver.rs
  src-tauri/cabr2_logger/Cargo.toml
  src-tauri/cabr2_logger/src/lib.rs
  src-tauri/cabr2_search/Cargo.toml
  src-tauri/cabr2_search/src/lib.rs
  src-tauri/cabr2_search/src/webserver.rs
  src-tauri/src/main.rs
  src-tauri/src/tauri_app.rs
  src-tauri/src/webserver.rs
Labels: kind/backend, kind/refactor
